.flex {
  display: flex;
}

.modal {
  padding: 1rem;
}

.wrapper {
  justify-content: flex-end;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.5;
}

.content {
  padding: 4rem;

  & input, select {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    line-height: 1.3;
  }

  & label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  & input {
    width: 100%;
    padding: 0.25rem;
  }

  & button {
    width: 100px;
  }

  & input + input,
  div + div {
    margin-top: 2rem;
  }
}
